.logoTitle {
  margin: 10px;
  font-weight: 100;
  font-style: oblique;
  font-size: xx-large;
  color:rgb(227, 237, 237);
  text-align: center;
}

.signupUsername {
margin-bottom: 20px;
}

.signupPassword {
margin-bottom: 20px;
}

.hints {
 font-size: small;
  color: rgb(227, 237, 237);
}

.signupBut {
  display:flex;
  justify-content: center;

}

.authErrorMessage {
color: red;
margin-top: 1%;
font-size: medium;
}

.adminToggle {
  margin-bottom: 20px;
}

.backBut {

margin-top: 20px;
}

.card {
margin-top: 35%;
color: white;
background-color: rgb(44, 44, 44);
}