.logoTitle {
    margin: 10px;
    font-weight: 100;
    font-style: oblique;
    font-size: xx-large;
    color:rgb(227, 237, 237);
    text-align: center;
}

.logoutBut {
    display: flex;
    justify-content: right;
    margin-left: 90%;
    margin-top: 10px;
}

.menuBut {
    margin-left: 85%;
}
